body{

    font-family: Helvetica, Arial, sans-serif;
    background-color: hwb(0 83% 17% / 0.664);
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0
}
 
.face {
    color: #195ef3;
    font-size: 100px;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 50px auto;
    width: 100%;
    float: left;
  
  
    
}
.text {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    width: 100%;
    float: left;
    margin: 10px 0;
}
.cen {
    background-color: #fff;
    position: absolute;
    display: block;
    width: 340px;
    height: 300px;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    margin: 100px auto;
    border-radius: 20px;
    transition: 0.5s ease;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.te {
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 10px 0;
    width: 100%;
}
input[type="text"]{
   position: relative;
   margin: 10px 0;
   width: 100%;
   padding: 10px 0;
   padding-left: 30px;
   box-sizing: border-box;
   font-size: 16px;
   border-radius: 10px;
   direction: rtl;
   text-justify: auto;
}
input[type="password"]{
    position: relative;
    margin: 10px 0;
    width: 100%;
    padding: 10px 0;
    padding-left: 30px;
    box-sizing: border-box;
    font-size: 16px;
    direction: rtl;
    background-position: center;
    border-radius: 10px;
}
.butt{
    position: relative;
    margin: 10px 0;
    width: 100%;
    padding: 10px 0;
    padding-left: 30px;
    box-sizing: border-box;
    font-size: 16px;
    border: hidden;
    border-radius: 10px;
    background-color: #1552d6;
    color: #fff;

}
.qu{
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 10px 0;
    width: 100%;
}